{% extends 'app/base.html' %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}

  {{ form.as_p }}
  <input type="submit" value="create">

</form>
{% endblock content %}

{% block extrajs%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timedropper/1.0/timedropper.min.js"></script>
    <script>
        $(function () {
            let dateFormat = 'yy-mm-dd';
            $("#id_date").datepicker({
              dateFormat: dateFormat
            });
            $("#id_start_time").timeDropper({
                format: "H:mm",
                setCurrentTime: false,
            });
            $("#id_end_time").timeDropper({
                format: "H:mm",
                setCurrentTime: false,
            });
        });
    </script>
{% endblock %}
